// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
//$blue: #357ADA;
$blue: #185ADB;
$indigo: #6574cd;
//$purple: #563d7c;
$purple: #185ADB;
$pink: #e3342f;
$red: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #4dc0b5;
$teal: #38c172;
$cyan: #6cb2eb;
