@import 'variables';
.article::after{
    border-left: 5px solid $purple;
    border-bottom: 5px solid $purple;
    border-radius: 5px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    content: "";
    display: block;
    width: 70%;
    height: 25px;
}
.article::before {
    position: absolute;
    top: -5px;
    right: -5px;
    content: "";
    display: block;
    width: 70%;
    height: 25px;
    border-top: 5px solid $purple;
    border-right: 5px solid $purple;
    border-radius:5px;
}
