// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands';

