.article::after {
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  left: 25%;
  content: "";
  display: block;
  width: 50%;
  height: 10px;
  background-color: #185ADB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: -webkit-linear-gradient(-50deg, #185ADB, #e3342f);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

